In [37]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from xgboost import XGBClassifier

In [3]:
oscar_winners = pd.read_csv('/Users/paulettedvm/Downloads/the_oscar_award.csv')
oscar_winners

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10884,2023,2024,96,WRITING (Original Screenplay),Written by Celine Song,Past Lives,False
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",NaN,True
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",NaN,True
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",NaN,True

In [4]:
# cut the data so that 'year_film' is 2000-2023

oscar_winners_2000_2023 = oscar_winners[oscar_winners['year_film'] >= 2000]
oscar_winners_2000_2023

,year_film,year_ceremony,ceremony,category,name,film,winner
8007,2000,2001,73,ACTOR IN A LEADING ROLE,Javier Bardem,Before Night Falls,False
8008,2000,2001,73,ACTOR IN A LEADING ROLE,Russell Crowe,Gladiator,True
8009,2000,2001,73,ACTOR IN A LEADING ROLE,Tom Hanks,Cast Away,False
8010,2000,2001,73,ACTOR IN A LEADING ROLE,Ed Harris,Pollock,False
8011,2000,2001,73,ACTOR IN A LEADING ROLE,Geoffrey Rush,Quills,False
...,...,...,...,...,...,...,...
10884,2023,2024,96,WRITING (Original Screenplay),Written by Celine Song,Past Lives,False
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",NaN,True
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",NaN,True
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",NaN,True

In [5]:
# delete null values

oscar_winners_2000_2023 = oscar_winners_2000_2023.dropna()

In [6]:
oscar_winners_2000_2023 = oscar_winners_2000_2023.drop(columns=['ceremony', 'category', 'name'])

In [7]:
# group by film and drop necessary columns

oscar_winners_2000_2023 = oscar_winners_2000_2023.groupby('film').agg(
    year_film=('year_film','first'), 
    year_ceremony=('year_ceremony','first'),
    wins=('winner','sum'),
    nominations=('winner','count')
).reset_index()

In [8]:
# adding boolean column winner

oscar_winners_2000_2023['winner'] = np.where(oscar_winners_2000_2023['wins'] > 0, True, False)

In [9]:
oscar_winners_2000_2023[oscar_winners_2000_2023['film'] == 'Inception']

          film  year_film  year_ceremony  wins  nominations  winner
493  Inception       2010           2011     4            8    True

In [10]:
# now, read the other imdb dataset to join with the kaggle
oscar_winners_2000_2023_imdb = pd.read_csv('/Users/paulettedvm/oscars_2000_2023_nominations_imdb.csv')

In [11]:
# join the two datasets (or concat ?? don't know)
# inner join to avoid NaN??
# or really i need to merge these two datasets based on the title column
oscar_winners_2000_2023_imdb = oscar_winners_2000_2023_imdb.fillna('Unknown')

In [12]:
oscar_winners_2000_2023_imdb = oscar_winners_2000_2023_imdb.rename(columns={'title':'film'})

In [13]:
oscar_winners_2000_2023_imdb

,film,year,runtime,age_rating,star_rating,rating_count
0,The Dark Knight,2008,2h 32m,PG-13,9.0,3000000
1,Inception,2010,2h 28m,PG-13,8.8,2600000
2,Interstellar,2014,2h 49m,PG-13,8.7,2300000
3,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,PG-13,8.9,2100000
4,The Lord of the Rings: The Return of the King,2003,3h 21m,PG-13,9.0,2100000
...,...,...,...,...,...,...
972,Scottsboro: An American Tragedy,2000,1h 24m,Unknown,7.5,369
973,Watani: My Homeland,2016,1h 16m,Unknown,7.4,305
974,Open Heart,2013,40m,Unknown,7.1,173
975,Legacy,2000,1h 30m,Not Rated,6.9,161
976,On Tiptoe: Gentle Steps to Freedom,2000,58m,Unknown,7.5,56

In [14]:
# now merge oscar wins + imdb data 
# make it an inner join

merged_oscars_2000_2023 = pd.merge(oscar_winners_2000_2023, oscar_winners_2000_2023_imdb, on='film', how='inner')

In [15]:
# drop year column since it's duplicated w/ 'year_film'

merged_oscars_2000_2023 = merged_oscars_2000_2023.drop(columns=['year'])

In [16]:
merged_oscars_2000_2023

,film,year_film,year_ceremony,wins,nominations,winner,runtime,age_rating,star_rating,rating_count
0,102 Dalmatians,2000,2001,0,1,False,1h 40m,G,4.8,40000
1,12,2007,2008,0,1,False,2h 39m,PG-13,7.5,16000
2,12 Years a Slave,2013,2014,3,9,True,2h 14m,R,8.1,758000
3,127 Hours,2010,2011,0,6,False,1h 34m,R,7.5,411000
4,13 Hours: The Secret Soldiers of Benghazi,2016,2017,0,1,False,2h 24m,R,7.3,169000
...,...,...,...,...,...,...,...,...,...,...
910,Youth,2015,2016,0,1,False,2h 4m,R,7.3,85000
911,Zelary,2003,2004,0,1,False,2h 30m,R,7.5,3800
912,Zero Dark Thirty,2012,2013,1,5,True,2h 37m,R,7.4,328000
913,Zootopia,2016,2017,1,1,True,1h 48m,PG,8.0,571000
914,Zus & Zo,2002,2003,0,1,False,1h 46m,Unrated,6.1,1700

In [ ]:
# okay now that this is done, we can deal with the 2025 nominations dataset

In [17]:
oscar_2025_noms = pd.read_csv('/Users/paulettedvm/oscars_2025_nominations_imdb_filled.csv')

In [19]:
oscar_2025_noms = oscar_2025_noms.fillna('Unrated')

In [20]:
oscar_2025_noms.head()

,title,year_film,runtime,age_rating,star_rating,rating_count,nominations,year_ceremony
0,Dune: Part Two,2024,2h 46m,PG-13,8.5,592000,5,2025
1,The Substance,2024,2h 21m,R,7.3,232000,5,2025
2,Alien: Romulus,2024,1h 59m,R,7.1,222000,1,2025
3,Inside Out 2,2024,1h 36m,PG,7.6,203000,1,2025
4,Gladiator II,2024,2h 28m,R,6.6,189000,1,2025

In [196]:
# try my hand at modeling
# fit/build the model using the 2000_2023 data, test it and then use it on the 2025 data

In [21]:
y = merged_oscars_2000_2023.winner

In [22]:
features = ['nominations', 'star_rating', 'rating_count']
X = merged_oscars_2000_2023[features]

# i want to use 'wins as a feature but i can't because when i go to test it
# with the oscars 2025 data (what i actually want to predict) i can't 
# because the dataset doesn't have that feature... because it HASNT HAPPENED
# it's part of what i want to PREDICTTT

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [24]:
# simple decision tree model

oscar_dt_model = DecisionTreeClassifier(random_state=1)
oscar_dt_model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=1)

In [25]:
y_pred = oscar_dt_model.predict(X_test)

In [26]:
acc_dt = accuracy_score(y_test, y_pred)
acc_dt

0.7554585152838428

In [27]:
# decision tree model with limited leafs

leaf_limit_model = DecisionTreeClassifier(max_leaf_nodes=100)
leaf_limit_model.fit(X_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=100)

In [28]:
leaf_limit_pred = leaf_limit_model.predict(X_test)

In [29]:
acc_leaf_limit = accuracy_score(y_test, leaf_limit_pred)
acc_leaf_limit

# slightly more accuracy

0.7816593886462883

In [39]:
ensemble_model = VotingClassifier(estimators=[
    ('xgb', XGBClassifier(n_estimators=200, max_depth=6, learning_rate=0.05)),
    ('rf', RandomForestClassifier(n_estimators=100, max_depth=10)),
    ('lr', LogisticRegression(max_iter=1000))
], voting='soft')
ensemble_model.fit(X_train, y_train)

VotingClassifier(estimators=[('xgb',
                              XGBClassifier(base_score=None, booster=None,
                                            callbacks=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None, device=None,
                                            early_stopping_rounds=None,
                                            enable_categorical=False,
                                            eval_metric=None,
                                            feature_types=None, gamma=None,
                                            grow_policy=None,
                                            importance_type=None,
                                            interaction_constraints=None,
                                            learning_ra...
                                            max_cat_threshold=None,
                                            max_cat_to_onehot=None,
                                            max_delta_step=None, max_depth=6,
                                            max_leaves=None,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            multi_strategy=None,
                                            n_estimators=200, n_jobs=None,
                                            num_parallel_tree=None,
                                            random_state=None, ...)),
                             ('rf', RandomForestClassifier(max_depth=10)),
                             ('lr', LogisticRegression(max_iter=1000))],
                 voting='soft')

In [40]:
ensemble_y_pred = ensemble_model.predict(X_test)

In [42]:
ensemble_y_pred

array([False,  True, False, False, False,  True, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False,  True, False,  True,
       False, False, False,  True,  True, False,  True,  True, False,
       False, False, False,  True, False,  True, False, False,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False, False,  True,  True, False, False,
       False, False, False, False,  True, False, False, False,  True,
       False, False, False, False,  True, False, False,  True,  True,
       False,  True,  True, False,  True, False,  True, False,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False,  True, False, False, False, False,
       False,  True,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False,  True, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False,  True, False, False,  True, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False,  True,  True, False, False, False, False,
        True,  True, False, False, False, False, False, False, False,
       False,  True, False, False])

In [44]:
X_train

     nominations  star_rating  rating_count
790            2          8.0         87000
185            1          7.6        319000
363            2          7.9       1200000
888            1          7.4           305
531            6          7.4        150000
..           ...          ...           ...
767            3          7.2        257000
72             2          7.7        208000
908            1          7.5          2500
235            2          8.3       1100000
37             1          7.1        195000

[686 rows x 3 columns]

In [41]:
accuracy_score(y_test, ensemble_y_pred)

0.8253275109170306

In [ ]:
## use trained ensemble model to predict 2025 winners

In [45]:
X_2025 = oscar_2025_noms[features]

In [46]:
y_2025_probs = ensemble_model.predict_proba(X_2025)[:, 1]

y_2025_preds = ensemble_model.predict(X_2025)

oscar_2025_noms['predicted_winner'] = y_2025_preds
oscar_2025_noms['winning_probability'] = y_2025_probs

In [48]:
oscar_2025_noms_sorted = oscar_2025_noms.sort_values(by='winning_probability', ascending=False)
oscar_2025_noms_sorted

,title,year_film,runtime,age_rating,star_rating,rating_count,nominations,year_ceremony,predicted_winner,winning_probability
1,The Substance,2024,2h 21m,R,7.3,232000,5,2025,True,0.718891
0,Dune: Part Two,2024,2h 46m,PG-13,8.5,592000,5,2025,True,0.698985
9,Conclave,2024,2h,PG,7.4,86000,8,2025,True,0.649418
8,Wicked,2024,2h 40m,PG,7.7,120000,10,2025,True,0.602095
11,Emilia Perez,2024,2h 12m,R,5.7,56000,13,2025,True,0.580223
7,The Wild Robot,2024,1h 42m,PG,8.2,128000,3,2025,True,0.546660
10,Anora,2024,2h 19m,R,7.8,83000,6,2025,True,0.538280
19,I'm Still Here,2024,2h 17m,PG-13,8.8,19000,3,2025,False,0.486215
20,The Brutalist,2024,3h 34m,R,8.0,17000,10,2025,False,0.455392
3,Inside Out 2,2024,1h 36m,PG,7.6,203000,1,2025,False,0.445076
6,Nosferatu,2024,2h 12m,R,7.4,133000,4,2025,False,0.430424
12,A Real Pain,2024,1h 30m,R,7.1,45000,2,2025,False,0.405258
16,A Complete Unknown,2024,2h 21m,R,7.7,25000,8,2025,False,0.345248
31,Soundtrack to a Coup d'Etat,2024,2h 30m,Unrated,7.9,1300,1,2025,False,0.302058
14,Flow,2024,1h 25m,PG,7.9,28000,2,2025,False,0.280174
39,Death by Numbers,2024,33m,Unrated,8.1,16,1,2025,False,0.265052
27,Nickel Boys,2024,2h 20m,PG-13,7.5,4000,2,2025,False,0.250824
49,Sing Sing,2023,1h 47m,R,7.7,11000,3,2025,False,0.244844
28,No Other Land,2024,1h 32m,Unrated,8.3,2900,1,2025,False,0.219502
22,Better Man,2024,2h 15m,R,7.7,12000,1,2025,False,0.200278
2,Alien: Romulus,2024,1h 59m,R,7.1,222000,1,2025,False,0.193741
13,The Apprentice,2024,2h 2m,R,7.1,37000,2,2025,False,0.192513
23,Memoir of a Snail,2024,1h 35m,R,7.8,9800,1,2025,False,0.190837
30,Black Box Diaries,2024,1h 42m,Unrated,7.6,1500,1,2025,False,0.187961
15,Wallace & Gromit: Vengeance Most Fowl,2024,1h 22m,PG,7.6,27000,1,2025,False,0.184180
41,Incident,2023,30m,Unrated,7.6,374,1,2025,False,0.181315
4,Gladiator II,2024,2h 28m,R,6.6,189000,1,2025,False,0.178634
48,The Man Who Could Not Remain Silent,2024,13m,Unrated,7.5,1100,1,2025,False,0.175755
33,Porcelain War,2024,1h 27m,R,7.4,558,1,2025,False,0.175508
25,The Girl with the Needle,2024,2h 3m,Unrated,7.5,5100,1,2025,False,0.175460
26,September 5,2024,1h 35m,R,7.2,4800,1,2025,False,0.174724
5,Kingdom of the Planet of the Apes,2024,2h 25m,PG-13,6.9,145000,1,2025,False,0.174287
24,The Seed of the Sacred Fig,2024,2h 47m,PG-13,7.6,7300,1,2025,False,0.172989
17,A Different Man,2024,1h 52m,R,6.9,21000,1,2025,False,0.172566
36,Magic Candies,2024,21m,Unrated,7.1,241,1,2025,False,0.170000
46,I'm Not a Robot,2023,22m,Unrated,7.1,726,1,2025,False,0.169990
44,A Lien,2023,15m,Unrated,7.0,401,1,2025,False,0.169984
42,Instruments of a Beating Heart,2024,23m,Unrated,7.0,497,1,2025,False,0.169982
29,Sugarcane,2024,1h 47m,R,7.1,1700,1,2025,False,0.169972
47,The Last Ranger,2024,28m,Unrated,6.4,165,1,2025,False,0.169356
18,The Six Triple Eight,2024,2h 7m,PG-13,6.7,21000,1,2025,False,0.168682
34,Beautiful Men,2023,18m,Unrated,6.0,400,1,2025,False,0.168668
37,Wander to Wonder,2023,14m,Unrated,6.8,433,1,2025,False,0.168543
35,In the Shadow of the Cypress,2023,20m,Unrated,6.8,443,1,2025,False,0.168542
45,Anuja,2024,22m,Unrated,6.6,274,1,2025,False,0.168099
38,Yuck!,2024,13m,Unrated,6.6,351,1,2025,False,0.168098
40,"I am Ready, Warden",2024,37m,Unrated,6.6,386,1,2025,False,0.168097
43,The Only Girl in the Orchestra,2023,24m,G,6.7,1000,1,2025,False,0.168086
32,Elton John: Never Too Late,2024,1h 42m,PG-13,6.7,1100,1,2025,False,0.168084
21,Maria,2024,2h 4m,R,6.5,13000,1,2025,False,0.168031